PORT=5000
NODE_ENV=development

# Database configuration
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=sisalmox_user
DB_PASS=sisalmox_password
DB_NAME=sisalmox_prod

# JWT Secret
JWT_SECRET=yoursecretkeyhere
